<html>
    <head>
        <title>GZ</title>
        
        <link type="text/css" rel="stylesheet" href="../CSS/CSS_001.css">
    </head>

    <body>
        <ul>
            <li><a class="a" href="..//HTML/para probar hipervinculo.html">homeeee</a></li>
            <li><a href="../HTML/para probar hipervinculo.html">Inicio</a></li>
            
        </ul>
        <div class="centrado">Atrapasueños artesanal GZ</div>
        <table border="1">
            
            <tr>
                <div class="imagen"><td rowspan="4"><img src="../Imagenes/atrapasueños.jpg" alt="AtrapaSueños#1"></td></div>
                <td><div class="textotitulo">Detalle: </div>
                    </br>
                    <div class="textodetalle">Un objeto en forma de círculo relleno de hilos entrelazados. Tal «red» atrapa los buenos sueños,
                     que descienden a la persona dormida sobre las plumas y hacen que su sueño sea tranquilo y agradable,
                     pero al mismo tiempo retrasa los malos sueños.</div>
                    </td>
            </tr>

            <tr>
                <td><div class="textotitulo">Nombre:</div>
                    </br>
                    <div class="textodetalle">Atrapasueños GZ</div>
                </td>
            </tr>

            <tr>
                <td><div class="textotitulo">Precio:</div>
                    </br>
                    <div class="textodetalle">$2.00 US</div>
                </td>
            </tr>

            <tr>
                <td><div class="textotitulo">Tecnica usada:</div>
                    </br>
                    <div class="textodetalle">Aro </br>
                        Hilo de gamuza o piel, para el exterior </br>
                        Hilo de algodón o encerado, para la red  </br>
                        Material para decoración: cuentas y plumas  </br>
                        Tijeras</div>
                </td>
            </tr>
        </table>
        </div>
    </body>
</html>
