<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title></title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<link rel="stylesheet" href="../CSS respaldo.css">
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="js/form-validation.js"></script>	
    <title>Registrar la cuenta</title>

</head>  
<body>
 <form class="formulario">
    
    <h1>Fase de Registro</h1>
     <div class="contenedor">
    <form action="2" name="registro">
     
     <div class="input-contenedor">
         <i class="fas fa-user icon"></i>
         <input type="text" name="nombre" id="nombre" placeholder="Nombre Completo">
         
         </div>
         
         <div class="input-contenedor">
         <i class="fas fa-envelope icon"></i>
         <input type="email" name= "email" id="email" placeholder="Correo Electronico">
         
         </div>
         
         <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
         <input type="password" name="password" id="password" placeholder="Contraseña">
         
         </div>
         <input type="submit" value="Registrate" class="button">
        </br>
        </br>
         <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
         <p>¿Ya tienes una cuenta? <a class="link" href="../HTML/INICIOS.html">Iniciar Sesion</a></p>
     </div>
    </form>
    </form>
</body>
</html>