<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title></title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<link rel="stylesheet" href="../CSS respaldo.css">
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <title>Registrar la cuenta</title>

</head>  
<body>
 <form class="formulario">
    
    <h1>Fase de Registro</h1>
     <div class="contenedor">
    <form action="" id="formulario_registro">
     
     <div id="contenido">
         <label for="nombre">Nombre Completo</label>
         <input type="text" name="nombre" id="nombre" placeholder="Nombre Completo">
         <br>
        <label for="email">Correo electronico</label>
         <input type="email" name= "email" id="email" placeholder="Correo Electronico">
        <br>
        <label for="contraseña">Contraseña</label>
         <input type="password" name="password" id="password" placeholder="Contraseña">
        <br>
        <button type="button">Registrarse</button>
         <input type="submit" value="Registrate" class="button">
        </br>
        </br>
         <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
         <p>¿Ya tienes una cuenta? <a class="link" href="../HTML/INICIOS.html">Iniciar Sesion</a></p>
     </div>
    </form>
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
  <script src="form-validacion.js"></script>
</body>
</html>